.portfolioItem {
    transition: 0.3s;
    position: relative;
}

.portfolioItem:hover {
    cursor: pointer;
}

.hoverTextBox {
    position: absolute;
    color: white;
    text-align: center;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: .3s ease-in-out;
    border-radius: var(--border-radius);
}

.hoverTextBox:hover {
    opacity: 100;
    background-color: hsla(0, 0%, 0%, 0.6);
}

.hoverText {
    position: relative;
    top: 40%;

}

.relative {
    position: relative;
}
