---
import '../styles/reset.css';
import '../styles/main.css';
import '../styles/fonts.css';
import '../styles/portfolio.css';
import Header from "../components/header.astro";
import Footer from "../components/footer.astro";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="../favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Web Developer | Ethan Coote</title>
        <meta name="description" content="Portfolio Page for Ethan Coote Website Development">
		<style>
			@font-face {
				font-display: swap;
				font-family: 'Roboto';
				font-style: normal;
				font-weight: 400;
				src: url('/fonts/roboto-v50-latin-regular.woff2') format('woff2');
			}
			@font-face {
				font-display: swap;
				font-family: 'Roboto';
				font-style: normal;
				font-weight: 700;
				src: url('/fonts/roboto-v50-latin-700.woff2') format('woff2');
			}
    	</style>
	</head>
    <body>
    <Header />

    <!--PORTFOLIO-->
    <main class="normalSection hero close">
        <div class="noPaddingBot container close">
            <div class="box end shrink">
                <h1>Portfolio</h1>
            </div>
            <div class="divider"></div>
        </div>
        <div class="container grid top apart noPaddingTop">
            
            <a class="box closer portfolioItem margin16" href="https://chalkie.ai/" target="_blank">
                <img class="normalImg outline" src="../images/portfolio/chalkie.webp" alt="Chalkie AI homepage mockup">
                <div class="box closest">
                    <div class="box acrossTrue apart">
                        <p class="pLarge black">Chalkie AI</p>
                        <p class="subtextBlack">12/2025</p>
                    </div>
                    <p class="subtextBlack">SEO & Performance Optimization</p>
                </div>
            </a>
            <a class="box closer portfolioItem margin16" href="https://thebimbuilders.com/" target="_blank">
                <img class="normalImg outline" src="../images/portfolio/bim.webp" alt="Chalkie AI homepage mockup">
                <div class="box closest">
                    <div class="box acrossTrue apart">
                        <p class="pLarge black">The BIM Builders</p>
                        <p class="subtextBlack">11/2025</p>
                    </div>
                    <p class="subtextBlack">Bug Fixes and UI Updates</p>
                </div>
            </a>
            <a class="box closer portfolioItem margin16" href="https://apexauto.framer.website/" target="_blank">
                <img class="normalImg outline" src="../images/portfolio/apex.webp" alt="Chalkie AI homepage mockup">
                <div class="box closest">
                    <div class="box acrossTrue apart">
                        <p class="pLarge black">Apex Auto (Demo)</p>
                        <p class="subtextBlack">10/2025</p>
                    </div>
                    <p class="subtextBlack">Design & Development</p>
                </div>
            </a>
            <a class="box closer portfolioItem margin16" href="https://elevatehomesspec.framer.website/" target="_blank">
                <img class="normalImg outline" src="../images/portfolio/elevate.webp" alt="Chalkie AI homepage mockup">
                <div class="box closest">
                    <div class="box acrossTrue apart">
                        <p class="pLarge black">Elevate Homes (Demo)</p>
                        <p class="subtextBlack">10/2025</p>
                    </div>
                    <p class="subtextBlack">Design & Development</p>
                </div>
            </a>
            <a class="box closer portfolioItem margin16" href="https://arlovega.framer.website/" target="_blank">
                <img class="normalImg outline" src="../images/portfolio/arlo.webp" alt="Chalkie AI homepage mockup">
                <div class="box closest">
                    <div class="box acrossTrue apart">
                        <p class="pLarge black">Arlo Vega (Demo)</p>
                        <p class="subtextBlack">09/2025</p>
                    </div>
                    <p class="subtextBlack">Design & Development</p>
                </div>
            </a>
            
        </div>
        <div class="noPaddingTop noPaddingBot container close">
            <div class="divider"></div>
        </div>
    </main>


    <!--CTA-->
    <section class="normalSection">
        <div class="container">
        <di class="box center">
            <div class="box center limit">
                <h2>Let Your Customers Find You Online</h2>
                <p>Your business needs a professional website for potential clients to find you. 92% of customers will visit a local businesses’ website when deciding which business to use. Don’t get left behind.</p>
                <a class="button main"><p>Let's Get Started</p></a>
            </div>
        </div>
            
    </section>

    <Footer />
    </body>
</html>