<footer class="mainFooter" id="mainFooter">
    <div class="container top">
        <div class="box">
            <div class="logoDiv">
                <a href="index.html"><img src="images/logo.svg" alt="company logo"></a>
                <div class="box logo">
                    <p>Ethan Coote</p>
                    <p class="logoSmall subtextWhite">Web Developer</p>
                </div>
            </div>
            <p class="subtextWhite pSmall">Cold calling, emailing, and Facebook <i>can</i> get you clients, but it's inconsistent and time consuming. Don’t waste time and money looking for leads. Let your customers come to you.</p>
            <div class="box acrossTrue">
                <a><img class="socialLogo" src="images/logoipsum-1.png" alt="placeholder social logo" loading="lazy"></a>
                <a><img class="socialLogo" src="images/logoipsum-2.png" alt="placeholder social logo" loading="lazy"></a>
                <a ><img class="socialLogo" src="images/logoipsum-3.png" alt="placeholder social logo" loading="lazy"></a>
            </div>
            <p class="pSmall subtextWhite">Copyright &copy Ethan Coote Web Development 2026</p>
        </div>
        <div class="box">
            <p class="white">Navigation</p>
            <ul class="navigationMenu down footerMenu">
                <li><a href="index.html"><p class="pSmall">Home</p></a></li>
                <li><a href="about.html"><p class="pSmall">About</p></a></li>
                <li><a href="services.html"><p class="pSmall">Services</p></a></li>
                <li><a href="contact.html"><p class="pSmall">Contact</p></a></li>
                <li><a href="portfolio.html"><p class="pSmall">Portfolio</p></a></li>
            </ul>
        </div>
    </div>
</footer>