<footer class="mainFooter" id="mainFooter">
    <div class="container top">
        <div class="box">
            <div class="logoDiv">
                <a href="/#home"><img src="/images/logo.svg" alt="company logo"></a>
                <div class="box logo">
                    <p>Ethan Coote</p>
                    <p class="logoSmall subtextWhite">Web Developer</p>
                </div>
            </div>
            <p class="subtextWhite pSmall">Cold calling, emailing, and Facebook <i>can</i> get you clients, but it's inconsistent and time consuming. Don’t waste time and money looking for leads. Let your customers come to you.</p>
            <!-- <div class="box acrossTrue">
                <a href="/#hero"><img class="socialLogo" src="images/logoipsum-1.png" alt="placeholder social logo" loading="lazy" height="32" width="32"></a>
                <a href="/#hero"><img class="socialLogo" src="images/logoipsum-2.png" alt="placeholder social logo" loading="lazy" height="32" width="32"></a>
                <a href="/#hero"><img class="socialLogo" src="images/logoipsum-3.png" alt="placeholder social logo" loading="lazy" height="32" width="32"></a>
            </div>-->
            <div class="divider lightBack"></div>
            <p class="pSmall" style="color: hsla(0,0%,100%, 0.5)">Copyright &copy Ethan Coote Web Development 2026</p>
        </div>
        <div class="box">
            <p class="white">Navigation</p>
            <ul class="navigationMenu down footerMenu">
                <li><a href="/#home"><p class="pSmall">Home</p></a></li>
                <li><a href="/#about"><p class="pSmall">About</p></a></li>
                <!--li><a href="/#pricing"><p class="pSmall">Pricing</p></a></li-->
                <li><a href="/#contact"><p class="pSmall">Contact</p></a></li>
                <li><a href="/#portfolio"><p class="pSmall">Portfolio</p></a></li>
            </ul>
        </div>
    </div>
</footer>