<header id="navDesktop">
    <nav class="navigationBar">
        <div class="logoDiv">
            <a href="index.html"><img src="images/logo.svg" alt="company logo">
            <div class="box logo">
                <p><b>Ethan Coote</b></p>
                <p class="logoSmall subtextBlack">Web Developer</p>
            </div>
            </a>
            
        </div>
        
        <ul class="navigationMenu">
            <li><a href="index.html"><p class="pSmall">Home</p></a></li>
            <li><a href="about.html"><p class="pSmall">About</p></a></li>
            <li><a href="services.html"><p class="pSmall">Services</p></a></li>
            <li><a href="contact.html"><p class="pSmall">Contact</p></a></li>
            <li><a href="portfolio.html"><p class="pSmall">Portfolio</p></a></li>
        </ul>
        <div class="navButton">
            <a href="contact.html" class="button"><p class="buttonText">Let's Get Started</p></a>
        </div>
        
    </nav>
</header>

<!--BURGER MENU-->
<header id="navMobile">
    <nav class="navigationBar">
        <div class="logoDiv">
            <a href="index.html"><img src="images/logo.svg" alt="company logo">
            <div class="box logo">
                <p>Ethan Coote</p>
                <p class="logoSmall subtextBlack">Web Developer</p>
            </div>
            </a>
        </div>
        <div id="hamburger"></div>
    </nav>
    
</header>
<header>
    <div class="mobileMenu">
        <ul class="navigationMenu">
            <li><a href="index.html"><p class="pLarge">Home</p></a></li>
            <li><a href="about.html"><p class="pLarge" >About</p></a></li>
            <li><a href="services.html"><p class="pLarge" >Services</p></a></li>
            <li><a href="contact.html"><p class="pLarge">Contact</p></a></li>
            <li><a href="portfolio.html"><p class="pLarge">Portfolio</p></a></li>
        </ul>
        <div class="navButton">
            <a class="button"><p class="buttonText">Let's Get Started</p></a>
        </div>
    </div>
</header>
<script src="../scripts/nav.js"></script>